.claresse {
    width: 100%;
    background-color: var(--secondary);
    color: white;
    padding: 5vh 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 50%;
    padding-right: 1rem;
}

.text h4 {
    font-size: 2rem;
    font-weight: 300;
}

@media only screen and (max-width: 720px) {
    .flex {
        text-align: center;
        flex-direction: column;
    }

    .text {
        width: 100%;
        padding: 0;
    }

    .text h4 {
        margin: 0 0 1rem 0;
    }
}