.section {
    padding-top: 25vh;
}

.section h1 {
    text-align: center;
}

.content {
    display: flex;
    padding: 10vh 0;
    align-items: center;
}

.text {
    padding-left: 2rem;
    line-height: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        padding: 2rem 0;
    }


    .text {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .section {
        padding-top: 30vh;
    }
}