.footer {
    width: 100%;
    background-color: var(--primary);
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: white;
}

.contact {
    display: flex;
    flex: 1 2;
}

.map {
    flex-shrink: 2;
}

.contact h3 {
    color: white;
    text-align: right;
}

.contact h4 {
    margin: 0;
    padding-bottom: 0.5rem;
}

.contact p {
    margin: 0.5rem 0;
}

.contact a {
    margin: 0.5rem 0;
    display: block;
}

.contactInfo {
    padding-left: 2rem;
    width: 50%;
    min-width: 300px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.8);
    transform: var(--transform);
}

.icon:hover {
    color: rgba(255, 255, 255, 1);
}

.block {
    border-bottom: 1px solid var(--primary-light);
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom a {
    font-weight: 300;
    font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
    .contact {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contactInfo {
        width: 100%;
        min-width: 200px;
        text-align: center;
        padding: 0;
    }

    .contact h3 {
        text-align: center;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .bottom {
        text-align: center;
        flex-direction: column;
        padding-bottom: 2rem;
    }
}