.hero {
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
        url("/images/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-6vh);
    padding-top: 25vh;
}

.text p {
    line-height: 1.5rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        padding-top: 30vh;
    }

    .image {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {

    .image {
        width: 75%;
    }
}