.menu {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 5;
    box-shadow: var(--light-shadow);
}

.menuContainer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    align-items: center;
    display: flex;
}