.retete {
    padding: 10vh 0;
}

.retete a {
    display: block;
    width: 35%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .retete a {
        width: 75%;
    }
}